*{
    border:0;
    margin:0;
    padding:0;
}
body{
    background-color: #4381C1;
}
/* Header Style */
.header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px;
}
.high-score{
    flex:1;
}
.timer{
    flex:1;
}
#score{
    flex: 1;
}

/* Main Section Content */
.main-content{
    display:flex;
    justify-content: center;
}
.text-wrapper{
    padding:10px;
}
.intro-text-p {
    padding:10px;
}
.intro-text-h2{
    flex: 1;
    text-align: center;
    font-size: xx-large;
}
#start{
    flex:1;
    width:100%;
    margin:10px;
    padding:10px;
    background-color: purple;
    border:black 3px dotted ;
    border-radius:10px;
    color:white;
}
/* Quiz styling */
.quiz-header{
text-align: center
}
.quiz-button{
    width:100%;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:black 3px dotted ;
    border-radius:10px;
    background:purple;
    color:white;
    font-size: larger;
}
/* High score form */
.high-score-form{
    border:1px black solid;
}
.high-score-row{
    background-color: bisque;
    border:2px;
    display:block;
}
/* End Card */
.ending-div-wrapper h2{
    text-align: center;
    margin-top: 10px;
    margin-top: 10px;
}
.ending-div-wrapper p{
    text-align: center;
    margin-top: 10px;
    margin-top: 10px;
    font-size: larger;
}
.high-score-form{
    background-color: 
    ;
}